<nav class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a routerLink="/" class="navbar-brand">OgiShop</a>
        <a  class="d-flex align-items-center mb-2 mb-lg-0 text-white">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a routerLink="/" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a routerLink="check-out" class="nav-link px-2 text-white">Check Out</a></li>
          <li ngbDropdown class="d-inline-block" *ngIf="appUser; else anonymousUser">
            <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
             <span >{{ appUser.name }}</span>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem routerLink="/my/orders">My Orders</button>
              <ng-template *ngIf="appUser.isAdmin">
                <button ngbDropdownItem routerLink="/admin/orders">Manage Orders</button>
                <button ngbDropdownItem routerLink="/admin/products">Manage Products</button>
              </ng-template>
              <button ngbDropdownItem (click)="logout()">Log Out</button>
            </div>
          </li>
        </ul>


        <div class="d-flex" >
          <ng-template #anonymousUser>
              <app-signin></app-signin>
          </ng-template>
          
          <button class="btn btn-warning mx-2" (click)="logout()" *ngIf="appUser">Log Out</button>
          <button type="button" class="btn btn-warning">Sign-up</button>
        </div>
      </div>
    </div>
  </nav>
